<p-messages [(value)]="msgs"></p-messages>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
    
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Email Id *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="email" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!resetPasswordForm.controls['email'].valid&&resetPasswordForm.controls['email'].dirty">
                        <i class="fa fa-close"></i>
                        Email Id is required
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        Password *:
                    </div>
                    <div class="ui-grid-col-6">
                        <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                    </div>
                    <div class="ui-grid-col-4">
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!resetPasswordForm.controls['password'].valid&&resetPasswordForm.controls['password'].dirty">
                            <i class="fa fa-close"></i>
                            <span *ngIf="resetPasswordForm.controls['password'].errors['required']">Password is required</span>
                            <span *ngIf="resetPasswordForm.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                        </div>
                    </div>
                </div>

                <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Confirm Password *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="password" formControlName="confirmpassword" placeholder="Required - Min(6)"/>
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!resetPasswordForm.controls['confirmpassword'].valid&&resetPasswordForm.controls['confirmpassword'].dirty">
                                <i class="fa fa-close"></i>
                                <span *ngIf="resetPasswordForm.controls['confirmpassword'].errors['required']">Password is required</span>
                                <span *ngIf="resetPasswordForm.controls['confirmpassword'].errors['minlength']">Must be longer than 6 characters</span>
                            </div>
                        </div>
                    </div>
            
            
            
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-2">
                    <button pButton type="submit" label="Submit" [disabled]="!resetPasswordForm.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            
        </div>
    
</form>