<div style="margin-top:15%;">
  <p-messages [(value)]="msgs" [style]="{'margin-top':'175px'}"></p-messages>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
    <div class="row contant-div">
      <div class="col-sx-12 col-sm-12 col-md-3 col-lg-3 label-name">
        Email Id
        <span style="color: red;">*</span>:
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 input-email">
        <input type="text" class="form-control" formControlName="email" placeholder="Enter your email Id" />
        <div class="ui-message ui-messages-error ui-corner-all error-msg" *ngIf="!forgotPasswordForm.controls['email'].valid&&forgotPasswordForm.controls['email'].dirty">
          <i class="fa fa-close"></i>
          Email Id is required
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 submit-button">
        <button pButton type="submit" label="Submit" [disabled]="!forgotPasswordForm.valid"></button>
      </div>
    </div>
  </form>
</div>