.contant-div{
    padding: 100px;
    background-color: #F7F7F7;
}

.label-name{
    font-size: large;
    vertical-align: middle;
    line-height: 2;
    text-align: right;
}

.input-email{
    vertical-align: middle;
    line-height: 2;
    font-size: large;
}

.submit-button{
    text-align: left;
}

.error-msg{
    width: 100%;
    text-align: left;
    margin: 5px auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 823px) {
    .contant-div{
        padding: 30px;
        background-color: #F7F7F7;
    }

    .input-email{
        margin: 10px 0px 10px 0px;
    }

    .label-name{
        font-size: large;
        vertical-align: middle;
        line-height: 2;
        text-align: left;
    }

    .info-msg{
        margin-top: 56%;
        margin-left: 2%;
        padding-right: 15%;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .contant-div{
        padding: 100px;
        background-color: #F7F7F7;
    }

    .label-name{
        font-size: large;
        vertical-align: middle;
        line-height: 2;
        text-align: right;
    }

    .input-email{
        margin: 0px;
    }
}