<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <div class="form-group msg-div">
      <p-messages [(value)]="msgs"></p-messages>
    </div>
    <h2 class="text-center">{{'Auth.Login.Title' | translate }}</h2>
    <div class="form-group">
      <input type="email" formControlName="email" class="form-control" placeholder="{{'Auth.Login.Username' | translate }}" required="required" change="emailValidationCheck($event)">
    </div>

    <div class="form-group displayNone">
      <!-- <input type="password" class="form-control" placeholder="{{'Auth.Register.Password' | translate }}"> -->

    </div>
    <div class="form-group">
      <div class="ui-grid-col-6">
        <button pButton type="submit" label="{{'Auth.Register.SubmitBtn' | translate }}" [disabled]="!loginForm.valid"></button>
      </div>
    </div>
    <div class="clearfix">
      <!-- <a [routerLink]="['/account/forgotpassword']" class="pull-right">Forgot Password?</a> -->
    </div>
  </form>

</div>
