body {
    background: #f4f4f4;
    font-family: 'Lato', sans-serif;
    /* background-image: url('images/slides/background.jpg'); */
    /* background-image: url("../../../../assets/images/Top_Banner.png"); */
    background-repeat: no-repeat;
    
font-size: 13px;
font-weight: normal;
line-height: 18px;
color: #404040;
overflow-x: hidden;

}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-weight: 100;
}
.ui-widget-header{
        background-color: steelblue !important;
        background: steelblue !important;
}
/* .bgCapstore{
    background-image: url('../../../../assets/images/Top_Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center center;
    position: relative;
} */